<% title = "Banned" %>
<%- include('../../partials/header'); %>
<%- include ('../../partials/navbar'); %>

<main class="container mx-auto px-4 py-8">
  <h1 class="text-4xl font-bold mb-4">Banned Page</h1>

  <p class="text-lg mb-6">Reason: <%= reason %></p>
  <p class="text-lg mb-6">Ban Time Left: <%= timeleft %></p>

</main>

<%- include('../../partials/footer') %>
