  <% title = "Add PGP Key" %>
  <%- include('../../partials/header'); %>
    <%- include('../../partials/navbar'); %>
    
    <div class="rounded-md p-8 bg-white shadow-md">
      <h1 class="text-2xl font-bold text-center mb-4">Add PGP Key</h1>
  
      <% if (flash.success) { %>
        <p class="text-center font-semibold text-green-500 rounded-md bg-green-100 p-4">
          <%= flash.success %>
        </p>
      <% } %>
  
      <% if (flash.error) { %>
        <p class="text-center font-semibold text-red-500 rounded-md bg-red-100 p-4">
          <%= flash.error %>
        </p>
      <% } %>
  
      <form method="post" action="/pgp/add-pgp-key">
        <div class="mb-4">
          <label class="block font-medium text-gray-700 mb-2">Public PGP Key</label>
          <% if (user.PGPKey) { %>
            <textarea name="pgp_key" rows="10" class="border rounded p-2 w-full" readonly><%= user.PGPKey.key %></textarea>
          <% } else { %>
            <textarea name="pgp_key" rows="10" class="border rounded p-2 w-full"></textarea>
            <input type="submit" value="Add PGP Key" class="bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo active:bg-indigo-800 mt-5">
            <% } %>
      </form>
      <% if (user.PGPKey) { %>
        <form method="post" action="/pgp/delete-pgp-key" class="mt-5">
          <input type="submit" value="Delete PGP Key" class="bg-red-600 text-white py-2 px-4 rounded-md hover:bg-red-500 focus:outline-none focus:shadow-outline-red active:bg-red-800">
        </form>
        <p class="text-center font-semibold text-red-500 rounded-md bg-red-100 p-4 mt-2">
          To add a new PGP key, please delete the current one first.
        </p>
      <% } %>

    </div>

  <%- include('../../partials/footer'); %>