<% title = "Add PGP Key" %>
<%- include('../../partials/header'); %>
<%- include('../../partials/navbar'); %>

<% const verification_message = "Please verify your PGP key by signing this message." %>

<div class="rounded-md p-8 bg-white shadow-md">
  <h1 class="text-2xl font-bold text-center mb-4">Add PGP Key</h1>

  <% if (flash.success) { %>
    <p class="text-center font-semibold text-green-500 rounded-md bg-green-100 p-4">
      <%= flash.success %>
    </p>
  <% } %>

  <% if (flash.error) { %>
    <p class="text-center font-semibold text-red-500 rounded-md bg-red-100 p-4">
      <%= flash.error %>
    </p>
  <% } %>

  <form method="post" action="/pgp/add-pgp-key">
    <div class="mb-4">
      <label class="block font-medium text-gray-700 mb-2">Public PGP Key</label>
      <textarea name="pgp_key" rows="10" class="border rounded p-2 w-full">
        <% if (user.pgp_key) { %> <%= user.pgp_key %>" <% } %>
      </textarea>
    </div>

    <% if (user.pgp_key && !user.pgp_verified) { %>
      <div class="mb-4">
        <label class="block font-medium text-gray-700 mb-2">Verification message</label>
        <textarea name="verification_message" rows="5" class="border rounded p-2 w-full" readonly><%= verification_message %></textarea>
      </div>

      <div class="mb-4">
        <label class="block font-medium text-gray-700 mb-2">Verification signature</label>
        <textarea name="verification_signature" rows="5" class="border rounded p-2 w-full"></textarea>
      </div>

      <input type="submit" value="Verify PGP Key" class="bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo active:bg-indigo-800">
    <% } else { %>
      <input type="submit" value="Add PGP Key" class="bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo active:bg-indigo-800">
    <% } %>
  </form>
</div>

<%- include('../../partials/footer'); %>
