<% title = "All Users" %>
<%- include('../partials/header'); %>

<div class="flex flex-row w-1/2">
  <%- include('../partials/sidebar'); %>
  <div class="px-4 py-5">
    <div class="py-2 inline-block min-w-full">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <% if (flash.error) { %>
          <div class="bg-red-500 p-4 mb-4">
            <% flash.error.forEach((msg) => { %>
              <p><%= msg %></p>
            <% }); %>
          </div>
        <% } %>
        <% if (flash.success) { %>
          <p class="text-center font-semibold text-green-500 rounded-md bg-green-100 p-4">
            <%= flash.success %>
          </p>
        <% } %>
        <div class="flex justify-between mb-4">
					<form id="filters-form">
						<div>
							<label for="search" class="sr-only">Search by username</label>
							<input type="text" id="search" name="search" placeholder="Search by username" value="<%= query.search || '' %>" class="border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-md sm:text-sm border-2 px-4 py-2">
						</div>
						<div>
							<label for="sort-by" class="sr-only">Sort by</label>
							<select id="sort-by" name="sort" class="border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-md sm:text-sm border-2 px-4 py-2">
								<option value="createdAt|DESC" <% if(query.sortBy === 'createdAt' && query.sortOrder === 'DESC') { %>selected<% } %>>Date of registration (Newest first)</option>
								<option value="createdAt|ASC" <% if(query.sortBy === 'createdAt' && query.sortOrder === 'ASC') { %>selected<% } %>>Date of registration (Oldest first)</option>
								<option value="updatedAt|DESC" <% if(query.sortBy === 'updatedAt' && query.sortOrder === 'DESC') { %>selected<% } %>>Date of update (Newest first)</option>
								<option value="updatedAt|ASC" <% if(query.sortBy === 'updatedAt' && query.sortOrder === 'ASC') { %>selected<% } %>>Date of update (Oldest first)</option>
								<option value="username|ASC" <% if(query.sortBy === 'username' && query.sortOrder === 'ASC') { %>selected<% } %>>Username (A-Z)</option>
								<option value="username|DESC" <% if(query.sortBy === 'username' && query.sortOrder === 'DESC') { %>selected<% } %>>Username (Z-A)</option>
																							</select>
							
						</div>
						<div>
							<button type="submit" class="border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-md sm:text-sm border-2 px-4 py-2 bg-indigo-500 text-white">Apply Filter</button>
							<a href="/admin/dashboard/all-users" class="border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-md sm:text-sm border-2 px-4 py-2 bg-red-500 text-white text-center">Reset Filter</a>
						</div>
					</form>
				</div>
  
        <table class="min-w-full">
                        <thead>
                        <tr>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                User ID
                            </th>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Username
                            </th>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Two-factor Enabled
                            </th>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Created At
                            </th>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Updated At
                            </th>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Role Name
                            </th>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Banned
                            </th>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
															Banned Until
															</th>
															<th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
																Actions
														</th>
												</tr>
										</thead>
										<tbody>
												<% users.forEach((user) => { %>
														<tr>
																<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
																		<div class="flex items-center">
																				<div class="text-sm leading-5 font-medium text-gray-900">
																						<%= user.id %>
																				</div>
																		</div>
																</td>
																<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
																		<div class="text-sm leading-5 text-gray-900"><%= user.username %></div>
																</td>
																<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
																		<div class="text-sm leading-5 text-gray-900">
																				<% if(user.twofactor_enabled) { %>
																						Yes
																				<% } else { %>
																						No
																				<% } %>
																		</div>
																</td>
																<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
																		<span class="text-sm leading-5 text-gray-900"><%= user.createdAt.toLocaleString(
																			"default",
																			{
																					minute: 'numeric', 
																					hour: 'numeric', 
																					day: 'numeric', 
																					month: 'numeric', 
																					year: 'numeric' 
																			}
																	) %></span>
																</td>
																<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
																		<span class="text-sm leading-5 text-gray-900"><%= user.updatedAt.toLocaleString(
																			"default",
																			{
																					minute: 'numeric', 
																					hour: 'numeric', 
																					day: 'numeric', 
																					month: 'numeric', 
																					year: 'numeric' 
																			}
																	) %></span>
																</td>
																<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
																		<% if(user.role) { %>
																				<span class="text-sm leading-5 text-gray-900"><%= user.role.name %></span>
																		<% } else { %>
																				<span class="text-sm leading-5 text-gray-900">N/A</span>
																		<% } %>
																</td>
																<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
																		<div class="text-sm leading-5 text-gray-900">
																				<% if(user.is_banned) { %>
																						Yes
																				<% } else { %>
																						No
																				<% } %>
																		</div>
																</td>
																<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
																		<div class="text-sm leading-5 text-gray-900">
																				<% if(user.ban_until) { %>
																						<%= user.ban_until %>
																				<% } else { %>
																						N/A
																				<% } %>
																		</div>
																</td>
																<td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5">
																		<a href="/users/user/<%= user.id %>" class="text-indigo-600 hover:text-indigo-900">View</a>
																		<% if (!user.is_banned) { %>
																			<form action="/admin/ban/<%= user.id %>" method="POST" class="inline-block">
																					<button type="submit" class="text-red-600 hover:text-red-900 ml-2">Ban</button>
																			</form>
																			<% } else { %>
																			<form action="/admin/unban/<%= user.id %>" method="POST" class="inline-block">
																					<button type="submit" class="text-green-600 hover:text-green-900 ml-2">Unban</button>
																			</form>
																			<% } %>
																	</td>
														</tr>
												<% }); %>
										</tbody>
								</table>
						</div>
				</div>
		</div>
		