<% title = "Ban User" %>
<%- include('../partials/header'); %>

<div class="flex flex-row w-1/2">
  <%- include('../partials/sidebar'); %>
  <div class="px-4 py-5">
    <div class="py-2 inline-block min-w-full">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <% if (flash.error) { %>
          <div class="bg-red-500 p-4 mb-4">
            <% flash.error.forEach((msg) => { %>
              <p><%= msg %></p>
            <% }); %>
          </div>
        <% } %>
        <div class="mb-4">
          <h1 class="text-2xl font-bold mb-4">Ban User</h1>
          <form action="/admin/ban/<%= user.id %>" method="POST">
            <div class="mb-4">
              <label for="banned_reason" class="block text-gray-700 text-sm font-bold mb-2">
                Banned Reason
              </label>
              <textarea
                name="banned_reason"
                id="banned_reason"
                class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                rows="4"
                minlength="10"
                required
              ></textarea>
            </div>
            <div class="mb-4">
              <label for="banned_until" class="block text-gray-700 text-sm font-bold mb-2">
                Banned Until
              </label>
              <% const today = new Date(); %>
              <% const year = today.getFullYear(); %>
              <% const month = String(today.getMonth() + 1).padStart(2, '0'); %>
              <% const day = String(today.getDate() + 1).padStart(2, '0'); %>
              <input
                type="date"
                name="banned_until"
                id="banned_until"
                class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                min="<%= `${year}-${month}-${day}` %>"
                placeholder="Enter date here"
                required
              >
            </div>
            <div class="mb-4">
              <button
                type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              >
                Ban User
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
