<% title = "Pending Vendor Applications" %>
<%- include('../partials/header'); %>

<div class="flex flex-row w-1/2">
    <%- include('../partials/sidebar'); %>
    <div class="px-4 py-5">
            <div class="py-2 inline-block min-w-full">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                    <% if (flash.error) { %>
                        <div class="bg-red-500 p-4 mb-4">
                            <% flash.error.forEach((msg) => { %>
                            <p><%= msg %></p>
                            <% }); %>
                        </div>
                        <% } %>
                    <% if (flash.success) { %>
                        <p class="text-center font-semibold text-green-500 rounded-md bg-green-100 p-4">
                            <%= flash.success %>
                        </p>
                    <% } %>
                    <table class="min-w-full">
                        <thead>
                            <tr>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    User ID
                                </th>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Username
                                </th>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Products
                                </th>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Countries
                                </th>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Date of applying
                                </th>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0; i < applications.length; i++) { 
                               let user = applications[i].User; %>
                                <tr>
                                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                                        <%= applications[i].user_id %>
                                    </td>
                                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                                        <%= applications[i].User.username %>
                                    </td>
                                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                                        <%= applications[i].products %>
                                    </td>
                                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                                        <%= applications[i].countries %>
                                    </td>
                                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                                        <%= applications[i].createdAt.toLocaleString(
                                            "default",
                                            {
                                                minute: 'numeric', 
                                                hour: 'numeric', 
                                                day: 'numeric', 
                                                month: 'numeric', 
                                                year: 'numeric' 
                                            }
                                        ) %>
                                    </td>
                                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium">
                                        <a href="/admin/application/<%= applications[i].id %>" class="text-indigo-600 hover:text-indigo-900">View</a>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
</body>
</html>